<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__HUISTATIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__HUISTATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__HUISTATIC__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__HUISTATIC__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<script>
	var SCOPE = {
		'room_url' : '{:url('api/room/postSelectBuild')}',
		'validata_url' : '{:url('api/Curl/getValidata')}',
	};
</script>
{load href="__STATIC__/admin/js/common.js"}
